

<footer>
    <link rel="stylesheet" href="/public/css/style.css">
    <div class="f-info">

        <div class="f-info-socials">
            <i class="fa-brands fa-square-facebook fb"></i>
            <i class="fa-brands fa-square-instagram insta"></i>
            <i class="fa-brands fa-linkedin linked" ></i>
        </div>

        <div class="f-info-brand">&copy; WanderLust Privet Limited</div>

        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
        
    </div>
</footer>